venv
.ipynb_checkpoints
__pycache__/
data
*.csv
*.jpg
*.png
.vscode
lightning_logs
*tar.gz
*.zip
*.ckpt
GLC
wandb/
*.pt
/checkpoints
UW-Madison_GI_Tract_Image_Segmentation
open_problems_multimodal_single_cell